@model IEnumerable<VSFlyWebApp.Models.ResumeBookedTicket>

@{
    string destinationCity = ViewContext.HttpContext.Request.Query["destination"];
    ViewData["Title"] = "Booked Tickets Of " + destinationCity;
}

<h1>Resume Booked Tickets Of @destinationCity</h1>

<!--<p>
    <a asp-action="Create">Create New</a>
</p>-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PassengerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketSalePrice)
            </th>
            <!--<th></th>-->
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PassengerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketSalePrice)
            </td>
            <!--<td>
                Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>-->
        </tr>
}
    </tbody>
</table>
